name: kafka-cluster

networks:
  inner-cluster-communication:

volumes:
  kafka-data:

services:
  kafka:
    image: 'apache/kafka:latest'
    container_name: broker
    networks:
      - inner-cluster-communication
    ports:
      - '9095:9095'
    volumes:
      - kafka-data:/apache/kafka      
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker, controller
      KAFKA_LISTENERS: PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_NUM_PARTITIONS: 3

      # KAFKA_CONTROLLER_QUORUM_VOTERS: '0@kafka:9093'
      # KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: 'BROKER:PLAINTEXT,CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
      # KAFKA_INTER_BROKER_LISTENER_NAME: 'BROKER'
      # KAFKA_CONTROLLER_LISTENER_NAMES: 'CONTROLLER'
      # KAFKA_ADVERTISED_LISTENERS: 'BROKER://kafka:9092,INTERNAL://kafka:9094,EXTERNAL://localhost:9095'
      # KAFKA_CLIENT_LISTENER_NAME: 'INTERNAL'
  #   healthcheck:
  #     test: ["CMD-SHELL", "kafka-broker-api-versions.sh --bootstrap-server kafka:9092 || exit 1"]
  #     interval: 15s
  #     timeout: 10s
  #     retries: 10
  #     start_period: 10s
  kafka-ui:
    image: 'kafbat/kafka-ui:latest'
    networks:
      - inner-cluster-communication
    ports:
      - '8080:8080'
    environment:
      DYNAMIC_CONFIG_ENABLED: 'true'
      KAFKA_CLUSTERS_0_NAME: 'local'
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: 'kafka:9094'
  #   depends_on:
  #     kafka:
  #       condition: service_healthy